[project]
	description = A minimalist's screensaver
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/teyssieuman
[access "refs/for/refs/*"]
	read = group user/teyssieuman
	push = group user/teyssieuman
	label-Code-Review = -2..+2 group user/teyssieuman
	label-Verified = -1..+1 group user/teyssieuman
	rebase = group user/teyssieuman
	removeReviewer = group user/teyssieuman
	submit = group user/teyssieuman
[access "refs/heads/*"]
	read = group user/teyssieuman
	create = group user/teyssieuman
	push = +force group user/teyssieuman
	pushMerge = group user/teyssieuman
[access "refs/tags/*"]
	push = +force group user/teyssieuman
	pushTag = group user/teyssieuman
	pushSignedTag = group user/teyssieuman
